{{!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Travel Blogger</title>
    <script src=""></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Cinzel font import from google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <!-- Fauna One font import from google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fauna+One&display=swap" rel="stylesheet">
    <style>
        /* changes all headers to cinzel with bold font weight */
        header, h1, h2, h3, h4, h5 {
            font-family: 'Cinzel', serif; 
            font-weight: bold;
        }
        /* sets all unspecified text to fauna one and font size to 21px */
        body {
            font-family: 'Fauna One', serif; font-size: 21px;
        }
    </style>
</head> --}}

        <div class="card">
        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-md-center h-100">
                    <div class="card-body">
                        <h2 class="profile-page text-center" style="font-size: 33px;">{{username}}'s Profile</h2>
                        <div class="row mt-4">
                            <div>
                              <h3>Current Adventure Log: </h3>
                                <section>
                                    <div>
                                        <p>map here</p>
                                    </div>
                                </section>
                                
                              <div>
                                  {{#if post.length}}
                                    <div>
                                        {{#each post as |post|}}
                                        <div>
                                            <h5>location: <a href="/post/{{post.id}}">{{post.locationData}}</a></h5>
                                            <div class="ml-4">
                                                <p><a href="/post/{{post.id}}">{{post.postContent}}</a></p>
                                            </div>
                                            <img class="mr-3" src="{{post.imageURL}}" alt="Generic placeholder image">
                                        </div>
                                        {{/each}}
                                    </div>
                                  {{/if}}
                                <div class="project-list">
                                    <button class="btn btn-primary btn-block">Create New Post </button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>

